/*
    Repository  : https://github.com/PSewmuthu/Wildlife_Haven_National_Park
*/

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Merienda&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	min-height: 150vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.logo a {
	color: #85f911;
}

a:hover {
	color: orange;
}

/* HEADER */

header {
	position: fixed;
	padding: 0 2rem;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	z-index: 100;
}

.navbar {
	width: 100%;
	height: 60px;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

/* DROPDOWN MENU */

.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 10;
}

.dropdown_menu.open {
	height: 240px;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* HERO */

section#hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	position: relative;
	width: 100%;
	background: url("images/slideshow/1.webp");
	background-size: cover;
	background-attachment: fixed;
	clip-path: circle(180vh at 50% -80vh);
	z-index: 1;
	animation: change 60s infinite ease;
}

#hero .text {
	width: 70%;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.3);
}

#hero h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
	font-family: "Lilita One";
}

#hero p {
	font-size: 1.5rem;
	color: lightcyan;
	font-family: "Merienda";
}

.about {
	padding: 100px 50px 10px 50px;
}

.about_text {
	width: 60%;
}

.action_btn {
	color: #0074cc;
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.action_btn:hover {
	color: #4da6ff;
}

.about_img {
	width: 45%;
	height: 450px;
	margin: -35% auto auto 65%;
}

img.about {
	width: 70%;
	border-radius: 200px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
	.navbar .links {
		display: none;
	}

	.dropdown_menu {
		display: block;
	}

	#hero .text {
		padding: 50px;
		margin-top: 50%;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

@media (max-width: 576px) {
	.dropdown_menu {
		left: 2rem;
		width: unset;
	}

	#hero .text {
		padding: 50px;
		margin-top: 50%;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

/* ANIMATION */

@keyframes change {
	0% {
		background-image: url("images/slideshow/1.webp");
	}

	20% {
		background-image: url("images/slideshow/2.jpg");
	}

	40% {
		background-image: url("images/slideshow/3.jpg");
	}

	60% {
		background-image: url("images/slideshow/4.jpg");
	}

	80% {
		background-image: url("images/slideshow/5.jpg");
	}

	100% {
		background-image: url("images/slideshow/6.jpg");
	}
}
