/*
    Repository  : https://github.com/PSewmuthu/Wildlife_Haven_National_Park
	Live Preview: https://psewmuthu.github.io/Wildlife_Haven_National_Park/
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	min-height: 150vh;
}

h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

.about-container {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 20px;
}

.about-container h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

.about-img {
	width: 50%;
	height: 300px;
	background-image: url("../images/about\ us.jpg");
	background-size: cover;
	border-radius: 5%;
	margin: auto auto 2% 30%;
}

article {
	width: 96%;
	margin: auto auto 2% 2%;
}

p {
	margin-bottom: 10px;
}

h2 {
	font-size: 2rem;
	margin: 2rem 0 1rem 1rem;
}

article.mission {
	margin: auto 5% 2% 5%;
}

article.mission p {
	font-family: Georgia, "Times New Roman", Times, serif;
}
