/*
    Repository  : https://github.com/PSewmuthu/Wildlife_Haven_National_Park
	Live Preview: https://psewmuthu.github.io/Wildlife_Haven_National_Park/
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	min-height: 150vh;
}

h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

.activities-container {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 20px;
}

.activities-container h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

article {
	margin: 2rem 2% auto 2%;
}

.activity-img {
	width: 400px;
	height: 600px;
	background-size: cover;
	background-position: center;
}

.activity-desc h3 {
	margin: 1rem 0;
	font-size: 2rem;
}

.activity-img.img1 {
	background-image: url("../images/activities/hiking.jpg");
}

.activity-desc.desc1 {
	margin: -40% auto auto 40%;
}

.activity-img.img2 {
	background-image: url("../images/activities/photography.jpg");
	margin: 30% auto auto 60%;
}

.activity-desc.desc2 {
	margin: -40% 40% auto auto;
}

.activity-img.img3 {
	background-image: url("../images/activities/nights.jpg");
	margin: 30% auto auto 0;
}

.activity-desc.desc3 {
	margin: -40% auto auto 40%;
}

.activity-img.img4 {
	background-image: url("../images/activities/kayaking.jpg");
	margin: 30% auto auto 60%;
}

.activity-desc.desc4 {
	margin: -40% 40% auto auto;
}

.activity-img.img5 {
	background-image: url("../images/activities/birds\ watching.jpg");
	margin: 30% auto auto 0;
}

.activity-desc.desc5 {
	margin: -40% auto auto 40%;
}

.space {
	padding: 10rem;
}
