/*
    Repository  : https://github.com/PSewmuthu/Wildlife_Haven_National_Park
	Live Preview: https://psewmuthu.github.io/Wildlife_Haven_National_Park/
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	min-height: 150vh;
}

h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

.visitor-container {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 20px;
	padding: 2em;
	max-width: 800px;
	margin: auto;
}

.visitor-container h1 {
	margin: 3rem 0;
	text-align: center;
	font-size: 3rem;
}

h3,
h2 {
	color: #850eda;
}

h3 {
	margin-bottom: 1em;
	font-size: 1.5rem;
	color: #850eda;
}

p {
	margin-bottom: 1em;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 0.5em;
}

a.contact {
	text-decoration: none;
	color: #0ebbda;
}

a.contact:hover {
	color: #80e6f8;
}
